body {
    background-color: #f0f0f0;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    padding: 20px;
  }

  #container {
    width: 450px;
    padding: 16px;
    margin: 20px auto;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .display {
    display: inline;
    margin: 15px auto;
    height: 48px;
    width: 60%;
    padding: 0 10px;
    border: 2px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
    font-size: 28px;
    color: #333;
    text-align: right;
    font-weight: 400;
  }

  .resultDisplay {
    width:25%;
  }

  .button {
    display: inline-block;
    margin: 4px;
    width: 48px;
    height: 48px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
  }
  
  .mathButtons {
    color: #ffffff;
    background-color: #3b8ea5;
  }
  
  
  .extraButtons {
    color: #ffffff;
    background-color: #59aec5;
  }

  .digits {
    color: #333;
    background-color: #e0e0e0;
  }
  
  #clearButton {
    color: #ffffff;
    background-color: #d23f31;
    /* width: 104px; */
    /* margin-right: 16px; */
  }
  
  #moveButton {
    margin-left:64px;
  }
  #resultButton {
    width: 106px;
    /* align-right */
    margin-left:6px;
  }


  .button:hover {
    filter: brightness(90%);
  }

  .note {
    font-size: 9px;
    color: #999;
    text-align: right;
    margin-right:40px;
    margin-top: 0px;
    display:block;
  }